@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
/* @import "flowbite/src/themes/default"; */

@layer components {
    .typography {
        color: var(--color-gray-950);
        a {
            color: var(--color-primary-10);
            &:hover {
                color: var(--color-menu-hover);
            }
        a {
            color: var(--color-tertiary-60);
                      
            }
        a {
            color: var(--color-login-btn);
            &:hover {
                color: var(--color-secondary-30);
            }
        }    
        a {

        }
        }    

        }
       
    }
@theme{
    --color-primary-10: #060606;
    --color-secondary-30: #F70A0A; 
    --color-tertiary-60: #FFFFFF;
    --color-login-btn: #3C1AB9;
    --color-login-hover: #757575;
    --color-menu-hover: #757575;
    --font-family: 'Roboto', sans-serif;
    --font-family: "Kantumruy Pro", sans-serif;
}